In [2]:
import pandas as pd
import numpy as np

In [4]:
num_samples = 20

data = {
    'Current Employment Status': np.random.choice(['Employed', 'Self-employed', 'Unemployed'], size=num_samples),
    'Annual Income Range': np.random.choice(['Low', 'Medium', 'High'], size=num_samples),
    'Minimum Investment': np.random.uniform(500, 10000, size=num_samples),
    'Investment Objective': np.random.choice(['Wealth accumulation', 'Retirement planning', 'Education funding', 'Tax saving'], size=num_samples),
    'Investment Duration': np.random.randint(1, 20, size=num_samples),
    'Risk Tolerance': np.random.choice(['Low', 'Medium', 'High'], size=num_samples),
    'Higher risk investment allocation (%)': np.random.uniform(0, 100, size=num_samples)
}

df = pd.DataFrame(data)
df.to_excel('CLIENT.xlsx')

In [5]:
df.head(20)

,Current Employment Status,Annual Income Range,Minimum Investment,Investment Objective,Investment Duration,Risk Tolerance,Higher risk investment allocation (%)
0,Employed,Medium,3950.763799,Wealth accumulation,18,Low,57.327146
1,Employed,Medium,7721.246633,Education funding,10,Medium,80.415855
2,Employed,High,6604.852708,Tax saving,18,Medium,48.331962
3,Employed,Low,6282.797690,Tax saving,4,High,76.548428
4,Unemployed,Low,3158.318980,Tax saving,11,Medium,6.130487
5,Unemployed,High,7954.687047,Education funding,15,Low,27.650296
6,Employed,High,9546.393212,Wealth accumulation,16,Low,46.868945
7,Self-employed,High,891.673600,Education funding,1,Medium,26.860695
8,Employed,Low,1615.405391,Education funding,17,Low,51.006149
9,Self-employed,High,1767.617889,Retirement planning,2,Low,19.825085
10,Self-employed,Medium,4764.357646,Wealth accumulation,12,Low,94.266596
11,Unemployed,Low,5197.487660,Retirement planning,4,Medium,14.887295
12,Unemployed,Medium,4716.302949,Education funding,19,Low,53.675874
13,Employed,Medium,5803.147857,Tax saving,10,Medium,58.819361
14,Unemployed,Medium,3539.587428,Education funding,11,Medium,16.769441
15,Self-employed,Medium,9668.802134,Tax saving,1,Low,64.603673
16,Employed,High,4140.606361,Tax saving,1,High,62.263138
17,Unemployed,Low,6139.621910,Education funding,15,Low,62.508455
18,Unemployed,Low,3903.254775,Tax saving,13,Low,77.914774
19,Employed,Low,8418.253748,Retirement planning,4,Low,33.432581

In [8]:
# Example: If risk tolerance is high and investment duration is long, suggest "Aggressive Growth" mutual fund
#         If risk tolerance is low and investment duration is short, suggest "Conservative" mutual fund

def suggest_mutual_fund(row):
    risk_tolerance = row['Risk Tolerance']
    investment_duration = row['Investment Duration']
    allocation_percentage = row['Higher risk investment allocation (%)']
    
    # Adjusting investment duration based on employment status
    if row['Current Employment Status'] == 'Unemployed':
        investment_duration = max(1, investment_duration - 5)  # Reducing investment duration by 5 years for unemployed
    
    # Adjusting investment duration based on investment objective
    if row['Investment Objective'] == 'Retirement planning':
        investment_duration += 10  # Adding 10 years for retirement planning
    
    # Adjusting investment duration based on risk tolerance
    if risk_tolerance == 'High':
        investment_duration = max(1, investment_duration - 5)  # Reducing investment duration by 5 years for high risk tolerance
    elif risk_tolerance == 'Low':
        investment_duration += 5  # Adding 5 years for low risk tolerance
    
    # Adjusting investment duration based on allocation percentage
    if allocation_percentage >= 70:
        investment_duration = max(1, investment_duration - 5)  # Reducing investment duration by 5 years for high allocation percentage
    elif allocation_percentage <= 30:
        investment_duration += 5  # Adding 5 years for low allocation percentage
    
    # Suggesting fund types based on adjusted investment duration and risk tolerance
    if investment_duration >= 20 and risk_tolerance == 'High':
        return 'Aggressive Growth Fund', 'High risk, high return'
    elif investment_duration >= 15 and risk_tolerance == 'Medium':
        return 'Growth Fund', 'Medium risk, medium return'
    elif investment_duration >= 10 and risk_tolerance == 'Low':
        return 'Balanced Fund', 'Low risk, moderate return'
    else:
        return 'Conservative Fund', 'Low risk, low return'

# Apply the function to suggest a target mutual fund and return parameters
df[['Target Mutual Fund', 'Risk-Return Profile']] = df.apply(suggest_mutual_fund, axis=1, result_type='expand')

df.head(20)

,Current Employment Status,Annual Income Range,Minimum Investment,Investment Objective,Investment Duration,Risk Tolerance,Higher risk investment allocation (%),Target Mutual Fund,Risk-Return Profile
0,Employed,Medium,3950.763799,Wealth accumulation,18,Low,57.327146,Balanced Fund,"Low risk, moderate return"
1,Employed,Medium,7721.246633,Education funding,10,Medium,80.415855,Conservative Fund,"Low risk, low return"
2,Employed,High,6604.852708,Tax saving,18,Medium,48.331962,Growth Fund,"Medium risk, medium return"
3,Employed,Low,6282.797690,Tax saving,4,High,76.548428,Conservative Fund,"Low risk, low return"
4,Unemployed,Low,3158.318980,Tax saving,11,Medium,6.130487,Conservative Fund,"Low risk, low return"
5,Unemployed,High,7954.687047,Education funding,15,Low,27.650296,Balanced Fund,"Low risk, moderate return"
6,Employed,High,9546.393212,Wealth accumulation,16,Low,46.868945,Balanced Fund,"Low risk, moderate return"
7,Self-employed,High,891.673600,Education funding,1,Medium,26.860695,Conservative Fund,"Low risk, low return"
8,Employed,Low,1615.405391,Education funding,17,Low,51.006149,Balanced Fund,"Low risk, moderate return"
9,Self-employed,High,1767.617889,Retirement planning,2,Low,19.825085,Balanced Fund,"Low risk, moderate return"
10,Self-employed,Medium,4764.357646,Wealth accumulation,12,Low,94.266596,Balanced Fund,"Low risk, moderate return"
11,Unemployed,Low,5197.487660,Retirement planning,4,Medium,14.887295,Growth Fund,"Medium risk, medium return"
12,Unemployed,Medium,4716.302949,Education funding,19,Low,53.675874,Balanced Fund,"Low risk, moderate return"
13,Employed,Medium,5803.147857,Tax saving,10,Medium,58.819361,Conservative Fund,"Low risk, low return"
14,Unemployed,Medium,3539.587428,Education funding,11,Medium,16.769441,Conservative Fund,"Low risk, low return"
15,Self-employed,Medium,9668.802134,Tax saving,1,Low,64.603673,Conservative Fund,"Low risk, low return"
16,Employed,High,4140.606361,Tax saving,1,High,62.263138,Conservative Fund,"Low risk, low return"
17,Unemployed,Low,6139.621910,Education funding,15,Low,62.508455,Balanced Fund,"Low risk, moderate return"
18,Unemployed,Low,3903.254775,Tax saving,13,Low,77.914774,Conservative Fund,"Low risk, low return"
19,Employed,Low,8418.253748,Retirement planning,4,Low,33.432581,Balanced Fund,"Low risk, moderate return"

In [14]:
df_fund = pd.read_excel("EQUITY LARGE.xlsx")
pd.set_option('display.max_columns', None)
df_fund.head()

,Funds,1 Wk Ret (%),1 Wk Rank,1 Mth Ret (%),1 Mth Rank,3 Mth Ret (%),3 Mth Rank,6 Mth Ret (%),6 Mth Rank,1 Yr Ret (%),1 Yr Rank,3 Yr Ret (%),3 Yr Rank,5 Yr Ret (%),5 Yr Rank,10 Yr Ret (%),10 Yr Rank,3 Yr SIP Ret (%),3 Yr SIP Rank,5 Yr SIP Ret (%),5 Yr SIP Rank,10 Yr SIP Ret (%),10 Yr SIP Rank,Equity Fund Style,Market Cap,Turnover,Net Assets (Cr),Fund Risk Grade,Fund Return Grade,Riskometer,Standard Deviation,Sharpe Ratio,Sortino Ratio,Beta,Alpha,R-Squared,Latest NAV,Previous NAV,52-Week High NAV,52-Week Low NAV,Minimum Investment,Expense Ratio (%),Exit Load (Period),Fund Manager (Tenure)
0,Aditya Birla Sun Life Frontline Equity Fund - ...,-2.39,42/102,-1.61,51/100,2.79,60/97,9.56,63/96,32.12,56/92,16.78,27/62,15.11,26/53,15.54,14/42,17.78,34/63,19.25,23/53,14.66,18/42,Growth,"3,09,434",31,"26,480",Below Average,Average,Very High,12.08,0.99,1.98,0.92,0.94,0.97,481.16,485.75,497.05,359.93,100,1.02,1.00 (90),Mahesh Patil (11.2)
1,Aditya Birla Sun Life Nifty 200 Momentum 30 ETF,-5.57,153/163,-3.74,144/161,6.91,32/157,26.97,2/152,60.55,3/145,--,--,--,--,--,--,--,--,--,--,--,--,Blend,"1,31,173",--,38,--,--,Very High,--,--,--,--,--,--,29.419,29.909,31.689,17.787,100,0.32,--,"Pranav Gupta (1.6), Haresh Mehta (1)"
2,Aditya Birla Sun Life Nifty 50 Equal Weight In...,-2.87,62/102,-2.72,85/100,4.19,41/97,14.03,39/96,40.25,34/92,--,--,--,--,--,--,--,--,--,--,--,--,Growth,"2,59,818",--,251,--,--,Very High,--,--,--,--,--,--,15.62,15.831,16.244,10.907,100,0.39,--,"Haresh Mehta (1), Pranav Gupta (1.8)"
3,Aditya Birla Sun Life Nifty 50 ETF,-2.32,38/163,-1.36,36/161,1.87,101/157,8.72,99/152,28.75,90/145,15.24,42/103,14.81,31/91,14.04,21/56,16.28,52/104,18.19,34/91,14.58,11/56,Growth,"5,05,785",3,"2,115",--,--,Very High,12.89,0.84,1.63,0.99,-1.07,0.99,24.835,25.106,25.604,19.075,"5,000",0.06,--,"Haresh Mehta (1), Pranav Gupta (1.8)"
4,Aditya Birla Sun Life Nifty 50 Index Fund - Di...,-2.32,33/102,-1.38,32/100,1.82,71/97,8.61,75/96,28.45,74/92,14.87,48/62,14.37,43/53,13.26,39/42,15.95,47/63,17.77,38/53,13.98,36/42,Growth,"5,05,787",13,768,Above Average,Average,Very High,12.87,0.81,1.63,0.99,-1.39,0.99,222.151,224.573,229.045,171.009,100,0.2,--,"Haresh Mehta (1), Pranav Gupta (1.8)"

In [15]:
cols=['1 Mth Ret (%)','3 Mth Ret (%)', '6 Mth Ret (%)',
       '1 Yr Ret (%)', '3 Yr Ret (%)','5 Yr Ret (%)', '10 Yr Ret (%)',
       '3 Yr SIP Ret (%)', '5 Yr SIP Ret (%)',
        '10 Yr SIP Ret (%)', 'Market Cap', 'Turnover', 'Net Assets (Cr)',
       'Standard Deviation', 'Sharpe Ratio', 'Sortino Ratio', 'Beta', 'Alpha',
       'R-Squared', 'Latest NAV', 'Previous NAV', '52-Week High NAV',
       '52-Week Low NAV', 'Minimum Investment', 'Expense Ratio (%)']

df_fund.replace('--', np.nan, inplace=True)
df_fund[cols] = df_fund[cols].replace(',', '', regex=True).astype(float)
for col in cols:
    mean_val = df_fund[col].mean()
    df_fund[col].fillna(mean_val, inplace=True)

df_fund['Fund Risk Grade'].fillna(method='ffill', inplace=True)
df_fund['Fund Return Grade'].fillna(method='ffill', inplace=True)

df_fund = df_fund[['3 Mth Ret (%)','6 Mth Ret (%)', '1 Yr Ret (%)', '3 Yr SIP Ret (%)', 
       'Equity Fund Style', 'Market Cap', 'Turnover', 'Net Assets (Cr)',
       'Fund Risk Grade', 'Fund Return Grade', 'Sharpe Ratio', 'Sortino Ratio', 
        'Beta', 'Alpha', 'R-Squared', 'Latest NAV', '52-Week High NAV',
       '52-Week Low NAV', 'Minimum Investment', 'Expense Ratio (%)',
        '3 Yr Ret (%)','5 Yr SIP Ret (%)','Standard Deviation']]

C:\Users\janam\AppData\Local\Temp\ipykernel_10136\1052642112.py:15: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fund['Fund Risk Grade'].fillna(method='ffill', inplace=True)
C:\Users\janam\AppData\Local\Temp\ipykernel_10136\1052642112.py:16: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fund['Fund Return Grade'].fillna(method='ffill', inplace=True)

In [16]:
df_fund.head()

,3 Mth Ret (%),6 Mth Ret (%),1 Yr Ret (%),3 Yr SIP Ret (%),Equity Fund Style,Market Cap,Turnover,Net Assets (Cr),Fund Risk Grade,Fund Return Grade,Sharpe Ratio,Sortino Ratio,Beta,Alpha,R-Squared,Latest NAV,52-Week High NAV,52-Week Low NAV,Minimum Investment,Expense Ratio (%),3 Yr Ret (%),5 Yr SIP Ret (%),Standard Deviation
0,2.79,9.56,32.12,17.780000,Growth,309434.0,31.000000,26480.0,Below Average,Average,0.990000,1.980000,0.920000,0.940000,0.970000,481.160,497.050,359.930,100.0,1.02,16.780000,19.250000,12.080000
1,6.91,26.97,60.55,19.013269,Blend,131173.0,46.208906,38.0,Below Average,Average,0.907451,1.749314,0.993431,0.420588,0.914706,29.419,31.689,17.787,100.0,0.32,16.999327,19.428022,13.516373
2,4.19,14.03,40.25,19.013269,Growth,259818.0,46.208906,251.0,Below Average,Average,0.907451,1.749314,0.993431,0.420588,0.914706,15.620,16.244,10.907,100.0,0.39,16.999327,19.428022,13.516373
3,1.87,8.72,28.75,16.280000,Growth,505785.0,3.000000,2115.0,Below Average,Average,0.840000,1.630000,0.990000,-1.070000,0.990000,24.835,25.604,19.075,5000.0,0.06,15.240000,18.190000,12.890000
4,1.82,8.61,28.45,15.950000,Growth,505787.0,13.000000,768.0,Above Average,Average,0.810000,1.630000,0.990000,-1.390000,0.990000,222.151,229.045,171.009,100.0,0.20,14.870000,17.770000,12.870000

In [17]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le= LabelEncoder()
df_fund['Fund Risk Grade']=le.fit_transform(df_fund['Fund Risk Grade'])
df_fund['Fund Return Grade']=le.fit_transform(df_fund['Fund Return Grade'])

In [21]:
def suggest_mutual_fund(row):
    risk_return_profile = None
    target_mutual_fund = None
    
    # Evaluate risk and return based on provided columns
    risk_score = 0
    return_score = 0
    
    # Calculating risk score
    risk_score += row['Fund Risk Grade'] * 0.2
    risk_score += row['Sharpe Ratio'] * 0.1
    risk_score += row['Sortino Ratio'] * 0.1
    risk_score += row['Beta'] * 0.2
    risk_score += row['Standard Deviation'] * 0.2
    
    # Calculating return score
    return_score += row['3 Mth Ret (%)'] * 0.1
    return_score += row['6 Mth Ret (%)'] * 0.15
    return_score += row['1 Yr Ret (%)'] * 0.2
    return_score += row['3 Yr SIP Ret (%)'] * 0.15
    return_score += row['3 Yr Ret (%)'] * 0.1
    return_score += row['5 Yr SIP Ret (%)'] * 0.1
    return_score += row['Fund Return Grade'] * 0.2
    
    # Determine risk-return profile
    if risk_score > return_score:
        risk_return_profile = 'Low Risk, Low Return'
    elif risk_score < return_score:
        risk_return_profile = 'High Risk, High Return'
    else:
        risk_return_profile = 'Balanced'
    
    # Suggest mutual fund type based on risk-return profile
    if risk_score > 0.5:  # High risk profile
        if return_score > 0.5:
            target_mutual_fund = 'Aggressive Growth Fund'
        else:
            target_mutual_fund = 'High Risk, Moderate Return Fund'
    elif risk_score < 0.5:  # Low risk profile
        if return_score > 0.5:
            target_mutual_fund = 'Conservative Growth Fund'
        else:
            target_mutual_fund = 'Low Risk, Low Return Fund'
    else:
        target_mutual_fund = 'Balanced Fund'
    
    return target_mutual_fund, risk_return_profile

In [23]:
df_fund[['Target Mutual Fund', 'Risk-Return Profile']] = df_fund.apply(suggest_mutual_fund, axis=1, result_type='expand')
df_fund[['Target Mutual Fund', 'Risk-Return Profile']].head()

       Target Mutual Fund     Risk-Return Profile
0  Aggressive Growth Fund  High Risk, High Return
1  Aggressive Growth Fund  High Risk, High Return
2  Aggressive Growth Fund  High Risk, High Return
3  Aggressive Growth Fund  High Risk, High Return
4  Aggressive Growth Fund  High Risk, High Return